*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
    display: flex;
}

.left-panel{
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
}
.left-panel li{
    list-style: none;
}
.left-panel li a{
    text-decoration: none;
    font-size: 30px;
}
.content {
    flex: 1;
    padding: 20px;
}

.content h2 {
    margin-top: 0;
}